.car{ 
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    transition: .2s;

//     border: 1px solid #ccc;
//     box-shadow: 0 4px 5px 0 rgba(0,0,0,.14);

//     &:hover {
//         border: 1px solid #aaa;
//         box-shadow: 0 4px 15px 0 rgba(0,0,0, .25);
//     }
}


.successInput {
    border: 1px solid green;
}

.errorInput {
    border: 1px solid red;
}

.boldInput {
    font-weight: bold;
}